<% include partials/header %>
    
    <div class="container">
        <div class="row mt-3">
            <% game.forEach(function(game){ %>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="card" style="width: 100%;">
                        <img src="<%= game.image %>" class="card-img-top img-thumbnail" alt="Image">
                        <div class="card-body">
                            <h4><%= game.title%></h4>  
                            <p class="card-text"><%= game.type%></p>
                            <a class="btn btn-outline-success right" href="/games/<%= game._id%>">More Info</a>
                        </div>
                    </div>
                </div>
            <%});%>
        </div>            
    </div>

<% include partials/footer %>