<% include partials/headerMain %>
<div id="landing-header">
        <h1>Gamer's Heaven</h1>
       <a href="/games/" class="btn btn-lg btn-success">View All Games</a>
   </div>
   
   <ul class="slideshow">
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
   </ul>
</body>
</html>